/* -- Overall -- */
html {
    min-height: 150vh;
    background: linear-gradient(130deg, rgb(230, 107, 50), rgb(24, 119, 128))
}


/*dev purpose */
* {
    border: border-box;
    font-family: "Chinese Calligraphy";
    /* outline: 2px solid red; */
}

/* -- First Section -- */
.first-section {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    position: relative;
    margin: 0px;
    height: 5vh;
    box-sizing: border-box;
}

#middle {
    display: inline-table;
    text-align: center;
    position: relative;
    transform: translateY(0.7vw);
}

#header {
    position: relative;
}

#title {
    position: relative;
    font-family: "Chinese Calligraphy";
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-top: -3px;
    margin-bottom: -250px;
    font-size: 5vw;
    text-align: center;
    color: rgb(212, 198, 217);
    bottom: 1.5vw;
    animation: intro 2s forwards;
}

#korean_grill {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 270px;
    margin-right: 300px;
    border: 7px white double;
    opacity: 0;
    animation: leftSlide 2s forwards;
    animation-delay: 2.3s;
    box-shadow: 0 0 2vw rgb(115, 74, 74);
}

#korean_grill_img {
    display: block;
    width: 20vw;
}

#find-us {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 2.3s;
}

#find-us-groups {
    margin-top: 350px;
    font-size: 30px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#left,
#right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#topLeft,
#bottomLeft {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    pointer-events: none;
    top: -0.5vw;
    position: relative;
    opacity: 0;
    animation: leftSlide 2s forwards;
    animation-delay: 2.8s;
}

#korean_grill:hover,
#topLeft:hover,
#bottomLeft:hover,
#topRight:hover,
#bottomRight:hover {
    transform: scale(1.06);
}

#topRight,
#bottomRight {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    pointer-events: none;
    position: relative;
    opacity: 0;
    animation: rightSlide 2s forwards;
    animation-delay: 2.8s;
}

#korean_grill_img,
#topLeftRecipe,
#bottomLeftRecipe,
#topRightRecipe,
#bottomRightRecipe {
    position: absolute;
    width: 19vw;
    height: 19vw;
    display: inline;
    object-fit: cover;
    pointer-events: auto;
    box-shadow: 0 0 2vw rgb(178, 123, 123);
}

#topLeftFrame,
#bottomLeftFrame,
#topRightFrame,
#bottomRightFrame {
    width: 25vw;
    height: 25vw;
    filter: hue-rotate(0deg) saturate(0) invert(90%);
    display: block;
    position: relative;
    top: 10px;
    margin-left: 8px;
}

#korean_grill_location,
#topLeftOverlay,
#bottomLeftOverlay,
#topRightOverlay,
#bottomRightOverlay {
    position: absolute;
    width: 19vw;
    height: 19vw;
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Chinese Calligraphy";
    opacity: 0;
    transition: 0.75s;
    pointer-events: auto;
    text-decoration: none;
}

#korean_grill_location>*,
#topLeftOverlay>*,
#bottomLeftOverlay>*,
#topRightOverlay>*,
#bottomRightOverlay>* {
    transform: translate(0.5vw);
    transition: transform 0.5s;
}

#korean_grill_location:hover,
#topLeftOverlay:hover,
#bottomLeftOverlay:hover,
#topRightOverlay:hover,
#bottomRightOverlay:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.65);
}

#korean_grill_location:hover>*,
#topLeftOverlay:hover>*,
#bottomLeftOverlay:hover>*,
#topRightOverlay>*,
#bottomRightOverlay>* {
    transform: translateY(-1vw);
}

#korean_grill_location_title,
#topLeftHoverTitle,
#bottomLeftHoverTitle,
#topRightHoverTitle,
#bottomRightHoverTitle {
    position: absolute;
    display: block;
    font-size: 1.6vw;
    font-family: "Chinese Calligraphy";
    color: white;
    text-decoration: none;
}


/* -- Second Section -- */
.second-section {
    margin-top: 900px;
    padding-bottom: 50px;
}

.information-header-text {
    margin-bottom: 50px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 3.5s;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 3.5s;
}

.card {
    width: 150px;
    height: 150px;
}

.card-group {
    max-width: 160px;
}

.card-text {
    text-align: center;
    margin-top: 20px;
}

.information-header-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.aboutImage,
.reservationImage,
.onlineDeliveryImage {
    width: 12em;
    height: 14em;
    object-fit: cover;
    border: 0.3em solid rgb(255, 255, 255);
    border-radius: 1.5em;
    box-shadow: 0 10px 30px black;
    transition: 0.3s;
    margin: -0.5em -1em -1em -1em;
}

.aboutImage:hover,
.reservationImage:hover,
.onlineDeliveryImage:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(2, 173, 164);
}

.linkI {
    margin: 1em 2em 0 2em;
    border-radius: 1.5em;
}



/* -- Animation -- */
@keyframes intro {
    100% {
        bottom: 0
    }

    ;

    from {
        opacity: 0
    }

    to {
        opacity: 1
    }

    ;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }

    ;
}

@keyframes leftSlide {
    100% {
        left: 0
    }

    ;

    from {
        opacity: 0
    }

    to {
        opacity: 1
    }

    ;
}

@keyframes rightSlide {
    100% {
        right: 0
    }

    ;

    from {
        opacity: 0
    }

    to {
        opacity: 1
    }

    ;
}


@font-face {
    font-family: "Chinese Calligraphy";
    src: url(./images/KNBobohei-Bold.ttf);
}